
    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag "pp1.jpeg", class: "img-responsive" %>
                    <div class="intro-text">
                        <h1 class="name">Kunal Modi</h1>
                        <hr class="star-light">
                        <span class="skills">Computer Science Graduate Student - New York University</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
               
                
                <div class="row">
                    <div class="col-lg-12">
                        <h1><%= post.title %></h1>
                    </div>
                </div>
                  
                <div class="row">

                    <div class="col-md-6">
                        <%= image_tag post.image, class: 'img-responsive' %>
                    </div>

                    <div class="col-md-6">
                        <h3>Project Description</h3>
                        <p><%= post.body %></p>
                    </div>
                </div>

            
                
                
            <% end %>
        </div>
    </div>
</section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Graduate Student at the NYU Tandon School of Engineering for MS in Computer Science and actively seeking internship opportunies for summer 2017. My main areas of focus include Big Data Analytics, Cloud Computing and Web Development.  </p>
                </div>
                <div class="col-lg-4">
                    <p> With over four years of experience in progarmming and Web Development I would like to broaden my technical skills by working in a company. I am a dedicated individual with a strong desire to learn new things and a never-say-die attitude</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
   <!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= mail_to "hello@open-labs.io", "Contact Me", subject: "Hi! Please include your name and email address" %></h2><br>
                <hr class="star-primary">
            </div>
        </div>
</section>

    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    
    


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    




